@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'HarmonyOSHans-Regular';
  font-style: normal;
  src: url('./assets/HarmonyOS_Sans_SC_Medium.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'HarmonyOSHans-Regular';
  font-style: normal;
  src: url('./assets/HarmonyOS_Sans_SC_Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'HarmonyOSHans-Regular';
  font-style: normal;
  src: url('./assets/HarmonyOS_Sans_SC_Medium.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'HarmonyOSHans-Regular';
  font-style: normal;
  src: url('./assets/HarmonyOS_Sans_SC_Light.ttf') format('truetype');
  font-weight: 300;
}

:root {
  font-family: 'Helvetica Neue', Helvetica, HarmonyOSHans-Regular, Arial, 'Microsoft Yahei',
    'Hiragino Sans GB', 'Heiti SC', 'WenQuanYi Micro Hei', sans-serif;
}
